.map {
    min-width: 300px;
    min-height: 300px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #F5F5F5;
    color: #36A0FF;
    height: 70px;
    font-size: 27px;
    padding: 10px;
}
.parallax {
    /* The image used */
    background-image: url("../../../assets/chantal-garnier-oiIJ5jGijdQ-unsplash.jpg");
  
    /* Set a specific height */
    height: 150px;
     width: 100%;
      
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: 50% 50%;
    /* background-repeat: no-repeat; */
    background-size: cover;

margin: 0;
padding: 0;
border: 0; 
 }

  h1 {
    color: #FADCAC;
    font-size: 85px;
    text-shadow: 5px 5px #197163;
    position: center;
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 0.5em;
  }
  .banner {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
  }
  .header-area {
    position: relative;
    margin-top: 125px;
    margin-bottom: 95px;
    /* background-position: center center; */
    background-repeat: no-repear;
    background-size: cover;
  }

  /* css for pop confirmation */
  body {
    font-family: 'Varela Round', sans-serif;
  }
  .modal-confirm {		
    color: #636363;
    width: 325px;
    font-size: 14px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -5px;
  }	
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  }	
  .modal-confirm .icon-box {
    color: #fff;		
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
  }
  .modal-confirm.modal-dialog {
    margin-top: 80px;
  }
  .modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    border: none;
  }
  .modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
  }
  .trigger-btn {
    display: inline-block;
    /* margin: 100px auto; */
  }
  a{
    color: white;
    text-decoration: none;
  }
  .button {
    /* display: inline-block; */
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
  }
  .button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    /* z-index: 1; */
  }
  .button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
  }
  .button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
  }
  .button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }
  .form-horizontal{
    height: 313px;
  }
  .well{
    background-color: #197163;
    border: none;
    margin-top: 45px;
  }
  .panel{
    background-color: #197163;

  }
  .col-md-5 {
    border: solid 1px rgb(182, 182, 180);
    background-color: #197163;
    padding: 20px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 55px;
  }
  /* .space {
    margin: 5px;
  } */
  