.container {
    margin-top: 10px;
    border: solid 2px black;
    border-radius: 10px;
    background-color: whitesmoke;
  }
  .image {
    background: url("../../../assets/photo-backgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 135px;
  }