.container {
    /* margin-top: 10px; */
    border: solid 2px black;
    border-radius: 10px;
    background-color: whitesmoke;
    padding-top:50px;
  }
  .image {
    background: url("../../../assets/photo-backgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 135px;
  }
  .button {
    /* display: inline-block; */
    margin-top: 20px;
    padding: 8px 25px;
    border-radius: 4px;
  }
  .button-primary {
    position: relative;
    background-color: #c0ca33;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    /* z-index: 1; */
  }
  .button-primary:hover {
    color: #c0ca33;
    text-decoration: none;
  }
  .button-primary::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    transition: all 0.3s ease-in;
    z-index: -1;
  }
  .button-primary:hover::after {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
  }