<!-- 
    <div class="container-fluid">
        <div class="row parallax "> -->
<!-- <div class="parallax"> -->
<header class=" header-area overlay">
    <div class="container-fluid banner px-0">
        <div class="container-fluid parallax">
            <div>
                <h1>Welcome to ATAKA Organix </h1>
            </div>
            <div>
                <p class="subtitle">Spreading the true flavors</p>
            </div>
            <div><button class="button button-primary" routerLink="/product">Shop Now</button>
            </div>
        </div>
    </div>
</header>
<!--About us-->
<section class="aboutUs container-fluid px-0">
    <div class="container-lg col-md-6 mb-4">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-title">About Us</h1>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="clearfix mb-0">
                                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne"><i
                                        class="fa fa-chevron-circle-down"></i> Who is ATAKA
                                    Organix?</a>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapsed" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">ATAKA Organix was a joint venture among five agricultural
                                families in the Carolinas with a goal of providing high quality, organic produce in
                                a convenient and affordable way. As young professionals move to the Charlotte area,
                                there has been surging interest in investing in the local economy as well as getting
                                fresh produce. A dramatic poker game-turned midnight business meeting among friends
                                sought to make healthier foods available to the local scene. Some accounts claim
                                Tempestt flipped over the card table after she found out that her favorite local
                                store closed too early to pick up her favorite jam… some up-and-coming brand called
                                “Maher and Hall.” Angelo and Keng felt that they could do better for cheaper, and a
                                friendly rivalry was born. Five years later, we are thriving and now focused on
                                making our superior produce available and convenient for working families, with a
                                focus on extended hours and home delivery. Our vegetables have even received praise
                                and requests for seconds from even the fussiest of toddlers which is easily our
                                proudest accomplishment.</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="true" aria-controls="collapseTwo"><i
                                        class="fa fa-chevron-circle-down"></i> Anziolo Orchard (Black Mountain, NC):
                                </a>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">Our 4th generation family has operated out of beautiful Black
                                Mountain, NC just outside of Asheville for the last 98 years. Scenic mountain vistas
                                perfectly serve as the backdrop to our amazing orchards where our Chief
                                arboriculturist, Angelo, has been working to develop a new variety of apples that
                                capture the true essence of fall taking it back from the pumpkin spice clan.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="true" aria-controls="collapseThree"><i
                                        class="fa fa-chevron-circle-down"></i>Moua Farm
                                    & Orchard (Gaffney, SC)
                                </a>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">Summer is always king at Moua Farm and Orchard! We’ve been prized
                                for our award-winning peaches and bringing recognition to the small town off I-85.
                                Fun fact, The Peachoid was inspired by the fruit of our great great grandfather’s
                                first tree and Georgia wishes that their peaches were half as good as ours. </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                                    aria-expanded="true" aria-controls="collapseFour"><i
                                        class="fa fa-chevron-circle-down"></i>Khandwala Farms (Weddington, NC)
                                </a>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                            data-parent="#accordionExample">
                            <div class="card-body">After a breathtaking trip to southeastern France, Aabha wanted to
                                bring some of that culture back to liven up Charlotte’s culinary scene. Our belief
                                is that nothing comes close to our veggies, and our farm-to-table model has the
                                chops to prove it. Our produce is rather well-recognized for both taste and an
                                unusual visual appeal so they are often requested by producers for television
                                cooking shows and foodie bloggers.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="true" aria-controls="collapseFive"><i
                                        class="fa fa-chevron-circle-down"></i>Avula Gardens (China Grove, NC)

                                </a>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                            data-parent="#accordionExample">
                            <div class="card-body">Our founder Anupama prefers the peace of the small town life, and
                                was inspired to locate her gardens on the banks of Grants Creek after visiting the
                                Pearl Fryar Topiary Garden with her family. While visitors are often awed by the
                                eclectic and imaginative artistry while touring The Garden, everyone knows that the
                                true prize is her renowned Purple Sweet Potato Haupia Pie. The recipe is a closely
                                guarded family secret, but the Avula Purple Sweet potatoes are highly requested,
                                especially for Thanksgiving.

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h2 class="mb-0">
                                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                    aria-expanded="true" aria-controls="collapseSix"><i
                                        class="fa fa-chevron-circle-down"></i>Stormwater
                                    Creek Farms (Clinton, NC)

                                </a>
                            </h2>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                            data-parent="#accordionExample">
                            <div class="card-body">Stormwater Creek Farms is relatively new to the area- founded on
                                land that was severely impacted by flooding of the Williams Old Mill River after a
                                major storm. Our founder, Tempestt, saw potential and began rebuilding back in 2015.
                                Now we are the primary source of tomatoes for much of the Carolina restaurant scene
                                and are expanding operations along the east coast.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-4 mt-4">
        <img class="rounded-circle z-depth-2 aboutUsImg img-responsive" src="../../../assets/aboutUs.jpg">
    </div>
</section>
<!--End of About us-->
<!-- Begining of Carousal -->


<!-- End of Carousal -->
<!-- Best Sellers-->
<section>
    <h1 class="page-title">BEST SELLERS</h1>

    <div class="row pb-5 mb-4">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img
                        src="https://images.unsplash.com/photo-1518977956812-cd3dbadaaf31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                        alt="Best Seller Onions" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="/products4" class="text-dark">Onions</a></h5>
                    <p class=" text-muted font-italic">Locally sourced from Avula Gardens in China Grove, NC
                    </p>
                    <ul class="list-inline ">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img
                        src="https://images.unsplash.com/photo-1521243495304-138a02be58e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                        alt="Best Seller Peaches" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="/products" class="text-dark">Peaches</a></h5>
                    <p class=" text-muted font-italic">Proudly sourced from Moua Farm & Orchard in Gaffney, SC
                    </p>
                    <ul class="list-inline ">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body p-4"><img src="../../../assets/gabriel-gurrola-fcgPRZmTM5w-unsplash.jpg"
                        alt="Best Seller Carrots" class="img-fluid d-block mx-auto mb-3">
                    <h5> <a href="/products" class="text-dark">Carrots</a></h5>
                    <p class=" text-muted font-italic">Locally sourced from Avula Gardens in China Grove, NC
                    <ul class="list-inline ">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card rounded shadow-sm border-0">
                <div class="card-body "><img
                        src="https://images.unsplash.com/photo-1596289924693-2953d4a01aa3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                        alt="Best Seller Pears" class=" img-fluid d-block mx-auto mb-3">
                    <h5> <a href="/products" class="text-dark">Blueberries </a></h5>
                    <p class=" text-muted font-italic">Locally grown at Stormwater Creek Farms in Clinton, NC
                    </p>
                    <ul class="list-inline ">
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-success"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Best sellers-->


<!-- Team -->
<section class="our-webcoderskull padding-lg px-0 ">
    <div class="container col-12 d-flex mx-auto ">
        <div class=" row heading heading-icon">
            <h2>Our Team</h2>
        </div>
        <ul class="row pb-5 mb-4 no-gutters ">
            <!--row col-12 -->
            <li class="col-lg-2 col-md-4 mb-4 mb-lg-0">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/AabhaKhandwala.jpg" class="img-responsive" alt="">
                    </figure>
                    <h3>Aabha Khandwala</h3>
                    <p>Khandwala Farms </p>
                    <p>Weddington, NC</p>
                </div>
            </li>
            <li class="col-lg-2 col-md-4 mb-4 mb-lg-0">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/TempesttS(2).jpg" class="img-responsive" alt="Tempestt">
                    </figure>
                    <h3>Tempestt Swinson </h3>
                    <p>Stormwater Creek Farms</p>
                    <p>Clinton, NC</p>
                </div>
            </li>
            <li class="col-lg-2 col-md-4 mb-4 mb-lg-0">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/AngeloGrant.png" class="img-responsive" alt="">
                    </figure>
                    <h3>Angelo Grant </h3>
                    <p>Anziolo Orchard </p>
                    <p>Black Mountain, NC </p>
                </div>
            </li>
            <li class="col-lg-2 col-md-4 mb-4 mb-lg-0">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/KengMoua.jpg" class="img-responsive" alt="">
                    </figure>
                    <h3>Keng Moua</h3>
                    <p>Moua Farm & Orchard</p>
                    <p>Gaffney, SC</p>
                </div>
            </li>
            <li class="col-lg-2 col-md-4 mb-4 mb-lg-0">
                <div class="cnt-block equal-hight" style="height: 349px;">
                    <figure><img src="assets/AnupamaAvula.jpg" class="img-responsive" alt="">
                    </figure>
                    <h3>Anupama Avula </h3>
                    <p>Avula Gardens </p>
                    <p>China Grove, NC</p>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team -->